

%h2 Welwcome to our website
%p We play at Mill Green in Welwyn Garden City

#accordion
  %div
    %h3
      %a{:href => "#"} First
    %div Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
  %div
    %h3
      %a{:href => "#"} Second
    %div Phasellus mattis tincidunt nibh.
  %div
    %h3
      %a{:href => "#"} Third
    %div Nam dui erat, auctor a, dignissim quis.



