body {
  background-color: #333333;
  font-size: 10pt;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF; }

#page {
  width: 900px;
  background-image: url(page.png);
  margin: auto;
  padding: auto; }

#header {
  clear: both;
  width: 850px;
  height: 106px;
  background-image: url(header3.png);
  padding-top: 40px;
  padding-left: 50px; }

#sidebarnav {
  margin-left: -5px;
  margin-top: 10px;
  a {
    width: 200px;
    display: block;
    clear: both;
    padding-left: 12px;
    padding-top: 6px;
    height: 25px;
    border-bottom: 2px solid #333333;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background: #3b3b3b url(ui-bg_flat_75_3b3b3b_40x100.png) 50% 50% repeat-x;
    &:hover, &.active {
      background-color: #3f3f3f;
      text-decoration: none;
      color: #FFFFFF; }

    &:hover { border: 1px solid #fb1922;
    background: #3f3f3f url(ui-bg_flat_75_3f3f3f_40x100.png) 50% 50% repeat-x; }}

    a:active {
      border: 1px solid #333333;
      background: #817f1c url(ui-bg_flat_65_817f1c_40x100.png) 50% 50% repeat-x;
      font-weight: normal;
      color: #ffffff; }
  }

#mainarea {
  width: 870px;
  clear: both;
  padding-left: 40px; }

#contentarea {
  width: 565px;
  padding-right: 40px;
  padding-bottom: 20px;
  float: left;
  line-height: 14pt; }

#sidebar {
  float: left;
  width: 215px;
  line-height: 14pt; }

#footer {
  width: 900px;
  clear: both;
  height: 50px;
  padding-top: 45px;
  text-align: center;
  line-height: 14pt;
  background-image: url(footer.png);
  background-repeat: no-repeat;
  background-color: #FFFFFF; }

h1 {
  font-size: 25pt;
  color: #FFFFFF;
  margin: 0;
  a {
    font-size: 25pt;
    color: #FFFFFF;
    margin: 0; } }

h2 {
  font-size: 15pt;
  color: #FFFFFF;
  padding-top: 6px; }

.description {
  font-size: 14pt;
  color: #FFFFFF;
  margin: 0; }

a {
  color: #FFFFCC;
  text-decoration: none;
  &:hover {
    text-decoration: underline; } }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  color: #ffffff; }

#flash_notice {
  background-color: #a49a37;
  border: solid 1px #6C6; }

#flash_error, #flash_alert {
  background-color: #f82735;
  border: solid 1px #C66; }

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  p {
    margin: 8px 10px; }
  ul {
    margin: 15px 0; } }