%h2 Sections
%ul
  %li
    %a{:href => "#"} LINKS
  %li
    %a{:href => "#"} LINKS
  %li
    %a{:href => "#"} LINKS
  %li
    %a{:href => "#"} LINKS
  %li
    %a{:href => "#"} LINKS
  %li
    %a{:href => "#"} LINKS